<%- content_for :meta_keywords do -%>
<%= 'Alchemy CMS, Extensions, Plugins, Gems, Themes' -%>
<%- end -%>
<%- content_for :meta_description do -%>
<%= 'Extensions, Themes and Plugins for your Alchemy CMS based site.' -%>
<%- end -%>

<div id="content" class="row">
  <div class="twelve columns">
    <h1>Found <%= @extensions.total_count %> Alchemy <%= (Extension.model_name.human(count: @extensions.total_count)) %></h1>
    <hr>
  </div>
  <div class="eight columns">
    <% if params[:keyword] || params[:by] %>
      <% if params[:keyword] %>
        <p>
          Filtered by keyword: <%= params[:keyword] %>
          <%= link_to('(remove)', extensions_path(by: params[:by])) %>
        </p>
      <% end %>
      <% if params[:by] %>
        <p>
          Filtered by maintainer: <%= params[:by] %>
          <%= link_to('(remove)', extensions_path(keyword: params[:keyword])) %>
        </p>
      <% end %>
    <% end %>

    <ul class="extensions-list">
      <% @extensions.each do |extension| %>
      <li class="<%= cycle('even', 'odd') %>">
        <h3><%= link_to extension.name, extension %></h3>
        <p>
          <b>by:</b>
          <%= link_to extension.maintainer, extensions_path(by: extension.maintainer, keyword: params[:keyword]) %>
        </p>
        <% if extension.keywords.any? %>
        <p>
          <b>Keywords:</b>
          <%= extension.keywords.map { |k| link_to k.name, url_for(keyword: k.name, by: params[:by]) }.join(', ').html_safe %>
        </p>
        <% end %>
      </li>
      <% end %>
    </ul>
    <hr>
    <%= paginate(@extensions) %>
  </div>

  <%= render 'extensions/register' %>

  <div class="four columns">
    <div class="info_table">
      <p>Popular Keywords:</p>
      <ul>
      <% @keywords.each do |keyword| %>
        <li>
          <%= link_to(keyword.name, extensions_path(keyword: keyword.name)) %>
          <small>(<%= keyword.count %>)</small>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
