<!DOCTYPE html>
<html>
	<head>
		<%= render_meta_data(:title_prefix => "Alchemy CMS", :title_seperator => "-") %>
		<%= javascript_include_tag "application" %>
		<%= stylesheet_link_tag 'application', :media => 'screen, projection' %>
	</head>
	<body>
		<%= yield %>
		<%= alchemy_preview_mode_code %>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$(".zoomable").fancybox();
			});
		</script>
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-22277258-1']);
			_gaq.push(['_gat._anonymizeIp']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
  </body>
</html>
