<%= form_for(@showcase) do |f| %>
  <% if @showcase.errors.any? %>
    <div class="alert-box alert">
      <h3>Please correct these <%= pluralize(@showcase.errors.count, "error") %>:</h3>
      <ul>
      <% @showcase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <small>Mandatory</small>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %>
    <small>Please begin with http(s)://</small>
    <%= f.url_field :url %>
  </div>
  <div class="field">
    <%= f.label :creator %>
    <small>Optional</small>
    <%= f.text_field :creator %>
  </div>
  <div class="field">
    <%= f.label :creator_url %>
    <small>Please begin with http(s)://</small>
    <%= f.url_field :creator_url %>
  </div>
  <div class="field">
    <%= f.label :keyword_list %>
    <small>Please separate keywords by comma</small>
    <%= f.text_field :keyword_list %>
  </div>
  <div class="field">
    <%= f.label :screenshot %>
    <% if @showcase.screenshot %>
      <%= f.hidden_field :retained_screenshot %>
      <p><%= @showcase.screenshot.name %></p>
    <% else %>
      <%= f.file_field :screenshot %>
    <% end %>
    <p></p>
  </div>
  <div class="actions">
    <%= f.submit 'Register Showcase', class: 'button' %> or <%= link_to 'cancel', showcases_path %>
  </div>
<% end %>
