<% cache(showcase) do %>
<li class="<%= cycle('even', 'odd') %>">
  <h3><%= link_to showcase.title, showcase.url, target: '_blank', rel: 'nofollow' %></h3>
  <p>
    <b>by:</b>
    <%= link_to_if showcase.creator_url.present?, showcase.creator, showcase.creator_url, target: '_blank' %>
  </p>
  <% if showcase.tags.any? %>
    <p>
      <b>Keywords:</b>
      <%= showcase.tags.map { |k| link_to k.name, showcases_path(keyword: k.name) }.join(', ').html_safe %>
    </p>
  <% end %>
  <%= link_to showcase.url, target: '_blank', rel: 'nofollow' do %>
    <%= image_tag showcase.screenshot.thumb('450x281#').url if showcase.screenshot_stored? %>
  <% end %>
</li>
<% end %>
