<%- content_for :meta_keywords do -%>
<%= 'Alchemy CMS, Showcases, Examples, Sites' -%>
<%- end -%>
<%- content_for :meta_description do -%>
<%= 'Showcases, Examples and Sites build with Alchemy CMS.' -%>
<%- end -%>

<%= render "shared/flash" %>

<div id="content" class="row">
  <div class="small-12 columns">
    <%= render_elements(from_page: showcases_page) %>
    <% if params[:keyword] %>
      <p>
        <b>Filtered by keyword:</b> <%= params[:keyword] %>
        <%= link_to('(remove)', showcases_path) %>
      </p>
    <% end %>
    <hr>
  </div>

  <div class="small-12 large-8 columns">
    <ul class="showcases-list">
      <%= render @showcases %>
    </ul>
  </div>

  <div class="small-12 large-4 columns">
    <%= render 'showcases/register' %>
    <div class="info_table">
      <p>Popular Keywords:</p>
      <ul>
      <% @keywords.each do |keyword| %>
        <li>
          <%= link_to(keyword.name, showcases_path(keyword: keyword.name)) %>
          <small>(<%= keyword.taggings_count %>)</small>
        </li>
      <% end %>
      </ul>
    </div>
  </div>

  <div class="small-12 columns">
    <hr>
    <%= paginate(@showcases) %>
  </div>
</div>
