<%- content_for :meta_keywords do -%>
<%= 'Alchemy CMS, Showcases, Examples, Sites' -%>
<%- end -%>
<%- content_for :meta_description do -%>
<%= 'Showcases, Examples and Sites build with Alchemy CMS.' -%>
<%- end -%>

<div id="content" class="row">
  <div class="twelve columns">
    <h1>Found <%= @showcases.total_count %> Alchemy <%= (Showcase.model_name.human(count: @showcases.total_count)) %></h1>
    <hr>
  </div>
  <div class="eight columns">
    <ul class="showcases-list">
      <%= render @showcases %>
    </ul>
    <hr>
    <%= paginate(@showcases) %>
  </div>

  <%= render 'showcases/register' %>
</div>
