<div id="bubbles"></div>
<%= render "alchemy/shared/header" %>
<%= render_cell(:slide_gallery) %>
<div id="content" class="row">
  <%= render_elements only: 'headline' %>
  <div class="twelve columns">
    <%= render_elements except: 'headline' %>
  </div>
</div>
<%= render "alchemy/shared/footer" %>
