<%= render "alchemy/shared/header" %>
<%= render_cell(:slide_gallery) %>
<div id="content" class="row">
  <div class="twelve columns">
    <%= render_elements only: 'headline' %>
  </div>
  <%= render_cell(:left_column) %>
  <%= render_cell(:right_column) %>
</div>
<%= render "alchemy/shared/footer" %>
