<%= simple_form_for [main_app, :admin, @showcase] do |f| %>
  <%= f.input :title %>
  <%= f.input :url %>
  <%= f.input :creator %>
  <%= f.input :creator_url %>
  <% if @showcase.screenshot %>
  <div class="ui-helper-clearfix">
    <%= image_tag @showcase.screenshot.thumb('250x140#').url, class: 'float_right' %>
  </div>
  <% end %>
  <div class="input">
    <%= f.label :screenshot %>
    <%= f.file_field :screenshot %>
  </div>
  <%= f.input :public %>
  <%= f.input :keyword_list, as: 'string' %>
  <div class="submit">
    <%= f.submit Alchemy.t(:save) %>
  </div>
<% end %>
