<%= simple_form_for [main_app, :admin, @showcase] do |f| %>
  <%= f.input :title %>
  <%= f.input :url %>
  <%= f.input :creator %>
  <%= f.input :creator_url %>
  <%= f.input :screenshot, as: 'file' %>
  <%= f.input :public %>
  <%= f.input :keyword_list, as: 'string' %>
  <div class="submit">
    <%= f.submit _t(:save) %>
  </div>
<% end %>
