<%= render :partial => "shared/header" %>
<div id="bubbles"></div>
<%= render_cell(:slide_gallery) %>
<div id="content" class="container">
	<div id="column_left">
		<%= render_cell(:left_column) %>
	</div>
	<div id="column_right">
		<%= render_cell(:right_column) %>
	</div>
</div>
<%= render :partial => "shared/footer" %>
