<div id="page">
  <div id="bordure"></div>
  <div id="header">
    <div class="holder">
      <%= link_to(image_tag("alchemy_logo.png", :id => :logo), "/") %>
      <div id="main_navigation" class="navigation">
        <%= render_navigation :all_sub_menues => true %>
      </div>
      <div id="language_select" class="navigation">
        <%= language_switches :spacer => '<span class="spacer">|</span>', :linkname => :code %>
      </div>
    </div>
  </div>
	<div id="main">
		<div id="bubbles"></div>
		<%= render_cell(:slide_gallery) %>
	  <div id="content">
	    <div class="holder">
	      <div id="column_left">
	        <%= render_cell(:left_column) %>
	      </div>
	      <div id="column_right">
	        <%= render_cell(:right_column) %>
	      </div>
	    </div>
	  </div>
	</div>
</div>
<div id="footer">
  <div class="holder">
    <%= render_elements(:only => 'footer_column', :fallback => {:for => 'footer_column', :from => 'footer'}) %>
  </div>
</div>