<%= render :partial => "shared/header" %>
<div id="bubbles"></div>
<%= render_cell(:slide_gallery) %>
<div id="content" class="container">
	<div class="grid_6">
		<%= render_cell(:left_column) %>
	</div>
	<div class="grid_6">
		<%= render_cell(:right_column) %>
	</div>
 </div>
<%= render :partial => "shared/footer" %>
