<% cache(element) do %>
  <% payable = element.ingredient(:payment).present? %>
  <%= element_view_for(element, "data-element" => element.id) do |el| -%>
    <div class="name">
      <h3><%= el.render :name %></h3>
    </div>
    <div class="description info_table">
      <%= el.render :description %>
    </div>
    <% if payable %>
      <div class="payment">
        <% default_days = element.ingredient(:default_days).to_i %>
        <div class="day_select">
          Days: <input type="number" min="<%= element.ingredient(:min_days) %>" name="days" value="<%= default_days %>">
        </div>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="cmd" value="_xclick">
          <input type="hidden" name="business" value="mail@magiclabs.de">
          <% success_url = Alchemy::Page.find_by_id element.ingredient(:success_page) %>
          <% if success_url.present? %>
            <input type="hidden" name="return" value="<%= show_alchemy_page_url(success_url) %>">
          <% end %>
          <% abort_url = Alchemy::Page.find_by_id element.ingredient(:abort_page) %>
          <% if abort_url.present? %>
            <input type="hidden" name="cancel_return" value="<%= show_alchemy_page_url(abort_url) %>">
          <% end %>
          <input type="hidden" name="lc" value="DE">
          <input type="hidden" name="item_name" value="<%= el.render :name %>">
          <input type="hidden" name="quantity" value="<%= default_days %>">
          <input type="hidden" name="amount" value="<%= element.ingredient(:amount_per_day).to_i %>">
          <input type="hidden" name="currency_code" value="EUR">
          <input type="hidden" name="button_subtype" value="services">
          <input type="hidden" name="no_note" value="1">
          <input type="hidden" name="shipping" value="0.00">
          <button type="submit" name="submit" alt="" value="">
            <span>PayPal:</span>
            <span class="amount"></span>
          </button>
        </form>
      <% else %>
        <div class="contact info_table">
          <%= form_for(@message ||= Alchemy::Message.new, remote: true) do |f| %>
            <div class="form_fields invisible">
              <p>We will contact you to talk about individual Service agreements.</p>
              <%= f.hidden_field :contact_form_id, value: element.id %>
              <%= f.hidden_field :package, value: el.render(:name) %>
              <%= f.text_field :spamblocker, class: "hidden" %>
              <%= f.text_field :account_name, placeholder: "Company" %>
              <%= f.text_field :first_name, placeholder: "Firstname", required: true, class: "left" %>
              <%= f.text_field :last_name, placeholder: "Lastname", required: true , class: "right" %>
              <%= f.text_field :email1, placeholder: "E-Mail", required: true %>
              <%= f.text_field :phone_work, placeholder: "Phone number" %>
            </div>
            <button type="button" value="">
              <span data-value="Learn more">Learn more</span>
            </button>
          <% end %>
        </div>
      <% end %>
    </div>
  <%- end -%>
<% end %>