<div class="screenshot" id="<%= element_dom_id(element) %>"<%= element_preview_code(element) -%>>
	<div class="screenshot_images">
		<%- element.all_contents_by_type("EssencePicture").each do |content| -%>
		<div class="screenshot_image <%= content.essence.css_class %>">
			<%= link_to alchemy.zoom_picture_path(:id => content.ingredient.id, :name => content.ingredient.urlname), :class => 'zoomable' do %>
				<%= render_essence_view(content, :image_size => "450x280", :crop => true) %>
			<% end %>
		</div>
		<%- end -%>
	</div>
</div>
