<div class="grid_12 slide" id="<%= element_dom_id(element) %>"<%= element_preview_code(element) -%>>
	<div class="slide_images">
		<%- element.all_contents_by_type("EssencePicture").each do |content| -%>
		<div class="slide_image <%= content.essence.css_class %>">
			<%= render_essence_view(content, :image_size => "480x320", :crop => true, :format => :png) %>
		</div>
		<%- end -%>
	</div>
	<h2>
		<%= render_essence_view_by_name(element, 'subheadline') %>
	</h2>
	<h1>
		<%= render_essence_view_by_name(element, 'headline') %>
	</h1>
</div>
